.d3-chart {
  width: 100%;
  height: 400px;
}
.d3-chart .axis path,		.d3-chart .axis line {
  stroke: #999;
}
.d3-chart .axis text {
  fill: #999;
}
button {
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  background-color: #507D8B;
  color: #CFD8DC;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
}
button:hover {
  color: #CB4335;
  background-color: #CFD8DC;
  cursor: pointer;
}
