nav a {
  padding: 20px;
  text-decoration: none;
  margin: 20px;
  display: inline-block;
  background-color: #507D8B;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #CFD8DC;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
  cursor: pointer;
}
nav a.active {
  color: #039be5;
}
