nav a {
  padding: 20px;
  text-decoration: none;
  margin: 20px;
  display: inline-block;
  background-color: #507D8B;
  border-radius: 14px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
}
nav a:visited, a:link {
  color: #CFD8DC;
}
nav a:hover {
  color: #CB4335;
  background-color: #CFD8DC;
  cursor: pointer;
}
nav a.active {
  color: #CB4335;
}
